<!DOCTYPE html>
<html>
  <head>
    <title>The Hacking Project - Formation développement web et vente </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Risque de mal fonctionner si plusieurs pages, à causer de turbo-links -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118976327-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118976327-1');
    </script>

    <meta property="og:url" content="https://the-hacking-project-lp.herokuapp.com/" />
    <meta property="og:type" content="sales" />
    <meta property="og:title" content="Formation développement web et vente - The Hacking Project" />
    <meta property="og:description" content="Découvrez The Hacking Project, une nouvelle façon d'apprendre à coder et à vendre. Votre réussite dépendra d'une seule chose : votre  motivation ! Rejoignez les nombreux moussaillons pour la prochaine session ! " />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="Découvrez The Hacking Project, une nouvelle façon d'apprendre à coder et à vendre. Votre réussite dépendra d'une seule chose : votre  motivation ! Rejoignez les nombreux moussaillons pour la prochaine session ! " />
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
        <% end %>
    </div>
    
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading" style="font-family:Times New Roman; font-weight: 700">Want to join the best trainings to learn to code in community by having fun in fascinating and different projects every day for 3 months! </h1> </br>
            <marquee behavior="alternate" direction="right"><b><font color="red">Do not hesitate one second, it's free</font></b></marquee>
            <p class="lead">The Hacking Project is life, The Hacking Project is familly !</p>
            <p class="lead">
    <div>
          <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="    text/css">

    <style type="text/css">
      #mc_embed_signup{background:#002D32; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    </style>

    <div id="mc_embed_signup">

    <form action="https://twitter.us18.list-manage.com/subscribe/post?u=6970bc0a5898a7a05f3005ec9&amp;    id=29d8809b10" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class=   "validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

        <label for="mce-EMAIL">Subscribe to THE awesome THP training ! </label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder=" email address " required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6970bc0a5898a7a05f3005ec9_29d8809b10" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
    </form>
  </div>

<!--End mc_embed_signup-->
    </div>
            </p>
            <p>
            	<%= image_tag 'logothp.png', width: 600 %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://thehackingproject.org">The Hacking Project</a>, by Cyril & Pacôme </p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <p>If you come to THP, with this :</p></br>
    <div class="container">
      <p><%=image_tag 'ruby.png', width:200 %> </p> </br>
    </div>

    <p>We teach you to become this guy!</p></br>
    <div class="container">
    	<p><%= image_tag 'hackerman.png', width: 400 %></p></br></br></br>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <%= render "layouts/footer" %>

  </body>
</html>
